<%- include("partials/header") %>

<div class="container">
    <h2>Search for a movie!</h2>

    <form action="/results" method="GET">
        <input type="text" name="search" id="" placeholder="title">
        <button type="submit">Search</button>
    </form>
</div>



<%- include("partials/footer") %>